\#*
\.\#*
node_modules/
vendor/
.sass-cache/
.bundle/
/bin/browserify
/bin/buster
/bin/buster-autotest
/bin/buster-headless
/bin/buster-server
/bin/buster-static
/bin/buster-test
/bin/coffee
/bin/phantomjs
/bin/sass
/bin/sass-convert
/bin/scss
/build/bundle.js
/slides.html
/test/browser_test.js
/assets/ringmaster.css
/build/slides.html.tmp
/build/slides.html
/lib/server.js
/test/node_test.js
/lib/notes.txt
/assets/audience.css
/assets/common.css
/lib/app*.js
/lib/browserify.entry.js
/lib/utils.js
